# Objective: to extract and manimulate Canadian industry GDP (2-digit NAICS) monthly data; and save to excel files. 

## Learning Materials
https://stats-can.readthedocs.io/en/latest/

## Bacground Knowledge -Canadian National Accounts- GDP
https://www150.statcan.gc.ca/n1/pub/13-607-x/2016001/230-eng.htm

The indicators/variables of interest in this exercise are from Table: 36-10-0434-01 (formerly CANSIM 379-0031)
Frequency: Monthly
Geography: Canada
Seasonally adjusted at annual rate; chained(2012) dollars

In [86]:
conda install -c ian.e.preston stats_can

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [87]:
import requests 
import pandas as pd
from stats_can import StatsCan

sc = StatsCan()

## Questions 1
 what does the command above do?
sc = StatsCan()

In [88]:
sc = StatsCan(data_folder="C:/Users/ye/Desktop/Zhenzhen/Python")

## Task 1: Pull vectors of interest from StatsCan

In [89]:
#The url below allows me to extract variables/indicators without knowing which StatCan's Tables those variables/indicators belong; however there's a 2-3 day delay in updating, compared with specific StatCan's Tables
url='https://www150.statcan.gc.ca/t1/wds/rest/getSeriesInfoFromVector'
r=requests.get(url, allow_redirects=True)

# In this exercise,I take the following variables as examples: ALL industries GDP, AgricultureGDP, MiningGDP,ManufacturingGDP ,Real estateGDP, acoomodationGDP
#print(df.v65201210, df.v65201229, df.v65201236, df.v65201263, df.v65201419, df.v65201468)
df = sc.vectors_to_df(["v65201210", "v65201229","v65201236","v65201263", "v65201419","v65201468"])

In [90]:
# Rename vectors, so that you don't need to memorize them (You can refer the csv table "2 digit NAICS_Vectors_Monthly Seasonal Chained 2012_ Table 3610043401-eng (1)"
# Learn from Syntax: DataFrame.rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None)
 
df_n=df.rename(columns={"v65201210":"allindustries", "v65201229":"affh","v65201236":"mining","v65201263":"manufacturing", "v65201419":"realestate","v65201468":"accomfood"}, inplace=True)

## Question 2 
Why print(df_n) shows nothing????

In [91]:
df_n

In [92]:
df

,allindustries,affh,mining,manufacturing,realestate,accomfood
REF_DATE,,,,,,
1997-01-01,1146254.0,24156.0,99558.0,165474.0,128575.0,27361.0
1997-02-01,1153493.0,24014.0,101126.0,167389.0,128350.0,27627.0
1997-03-01,1153375.0,24020.0,102196.0,165776.0,128312.0,27696.0
1997-04-01,1161196.0,24223.0,103835.0,168419.0,128164.0,27802.0
1997-05-01,1165328.0,24232.0,101294.0,169988.0,128223.0,27877.0
...,...,...,...,...,...,...
2019-09-01,1979304.0,40386.0,145643.0,200633.0,252974.0,44829.0
2019-10-01,1977120.0,40257.0,146359.0,198873.0,253452.0,44827.0
2019-11-01,1978810.0,40104.0,144134.0,198903.0,253994.0,45005.0
2019-12-01,1983827.0,40072.0,146111.0,198480.0,254440.0,44977.0
2020-01-01,1986692.0,40140.0,145257.0,200066.0,254704.0,44789.0

## Task 2: Calculate rates 
a. Year over year 
b. Month over month 
c. Percentages -evey 2-digit NAICS over total industry GDP

In [93]:
#month over month
dfp=df.pct_change() 
dfp

,allindustries,affh,mining,manufacturing,realestate,accomfood
REF_DATE,,,,,,
1997-01-01,nan,nan,nan,nan,nan,nan
1997-02-01,0.006315354188513256,-0.005878456698128809,0.01574961329074509,0.011572815064602393,-0.0017499513902391461,0.0097218668908301
1997-03-01,-0.00010229797666738705,0.00024985425168644326,0.010580859521784669,-0.009636236550788935,-0.00029606544604598994,0.002497556737973694
1997-04-01,0.0067809688956324,0.008451290591173999,0.016037809699009697,0.015943200463275797,-0.0011534384936716657,0.0038272674754478153
1997-05-01,0.003558400132277484,0.00037154770259673064,-0.02447151731111863,0.009316051039371942,0.00046034767953551103,0.002697647651248136
...,...,...,...,...,...,...
2019-09-01,0.00015715063165955279,-0.006249999999999978,-0.005768390584894312,-0.003798448842590285,0.002643604814769329,0.001765363128491515
2019-10-01,-0.001103418171235937,-0.0031941761996731044,0.004916130538371144,-0.008772235873460543,0.0018895222433925607,-4.46139775591714e-05
2019-11-01,0.0008547786679615754,-0.0038005812653699733,-0.015202344919000521,0.00015085003997517,0.0021384719789150353,0.003970821156892068
2019-12-01,0.0025353621621075906,-0.000797925393975718,0.013716402791846383,-0.002126664756187724,0.0017559469908738912,-0.0006221530941006304
2020-01-01,0.0014441783482128656,0.0016969454981035081,-0.005844871364921178,0.0079907295445385,0.001037572708693535,-0.004179914178357835

### Task 2-1. Display "Percentages - % " : pd.options.display.float_format = '{:.2%}'.format (done)

In [94]:
pd.options.display.float_format = '{:.2%}'.format
dfp

            allindustries   affh  mining  manufacturing  realestate  accomfood
REF_DATE
1997-01-01           nan%   nan%    nan%           nan%        nan%       nan%
1997-02-01          0.63% -0.59%   1.57%          1.16%      -0.17%      0.97%
1997-03-01         -0.01%  0.02%   1.06%         -0.96%      -0.03%      0.25%
1997-04-01          0.68%  0.85%   1.60%          1.59%      -0.12%      0.38%
1997-05-01          0.36%  0.04%  -2.45%          0.93%       0.05%      0.27%
...                   ...    ...     ...            ...         ...        ...
2019-09-01          0.02% -0.62%  -0.58%         -0.38%       0.26%      0.18%
2019-10-01         -0.11% -0.32%   0.49%         -0.88%       0.19%     -0.00%
2019-11-01          0.09% -0.38%  -1.52%          0.02%       0.21%      0.40%
2019-12-01          0.25% -0.08%   1.37%         -0.21%       0.18%     -0.06%
2020-01-01          0.14%  0.17%  -0.58%          0.80%       0.10%     -0.42%

[277 rows x 6 columns]

## How to slect multiple years?

## Arun's help 1/2: 

For the date selecting thing in your code.
Keep the code as it is without changing the date to a column. Now if you want to select a specific year just type df['2019'] or the year you wanted and it will select the mentioned year. 

If you want to select a range of time period then df['2019-01-01' :  '2019-08-01'], this will do the work.

In [95]:
#KK, just a quick fix, will come back
#Learning from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html
pd.options.display.float_format = '{:}'.format

In [96]:
#To view a time range
df['2018':'2019']
df ['2001-04-01':'2004-03-01']

,allindustries,affh,mining,manufacturing,realestate,accomfood
REF_DATE,,,,,,
2001-04-01,1364619.0,28532.0,110848.0,205462.0,147158.0,31826.0
2001-05-01,1370407.0,28410.0,110432.0,206514.0,147986.0,31751.0
2001-06-01,1369240.0,28144.0,107214.0,205136.0,148755.0,31655.0
2001-07-01,1367204.0,27913.0,107472.0,202592.0,149073.0,31839.0
2001-08-01,1371749.0,28118.0,109173.0,202338.0,149633.0,31709.0
2001-09-01,1364366.0,28328.0,107979.0,198925.0,149877.0,30481.0
2001-10-01,1370585.0,28420.0,107339.0,199696.0,150648.0,30908.0
2001-11-01,1379396.0,27531.0,107395.0,200567.0,152070.0,31692.0
2001-12-01,1377902.0,26967.0,105921.0,196112.0,153695.0,32210.0
2002-01-01,1392802.0,25951.0,107380.0,204981.0,154553.0,31657.0
2002-02-01,1400429.0,26256.0,108889.0,207795.0,154742.0,31938.0
2002-03-01,1399019.0,26189.0,109452.0,205584.0,154762.0,32082.0
2002-04-01,1408942.0,26845.0,111823.0,208336.0,154965.0,32671.0
2002-05-01,1411041.0,26732.0,107830.0,210332.0,155038.0,32709.0
2002-06-01,1412654.0,27055.0,107682.0,208068.0,155186.0,32847.0
2002-07-01,1418178.0,26642.0,109479.0,209618.0,155124.0,32866.0
2002-08-01,1423503.0,27515.0,108333.0,210018.0,156086.0,32800.0
2002-09-01,1420254.0,27755.0,109869.0,205768.0,156530.0,32500.0
2002-10-01,1428810.0,28115.0,110013.0,207012.0,157090.0,32128.0
2002-11-01,1428139.0,28595.0,110165.0,205766.0,157285.0,32236.0
2002-12-01,1423817.0,29025.0,110301.0,202478.0,157722.0,32234.0
2003-01-01,1431160.0,29482.0,113535.0,203266.0,157816.0,31555.0
2003-02-01,1434888.0,29727.0,113134.0,203258.0,157982.0,31994.0
2003-03-01,1433364.0,29923.0,112759.0,203751.0,158149.0,32005.0
2003-04-01,1428575.0,29958.0,112431.0,202759.0,157635.0,31244.0
2003-05-01,1432670.0,29856.0,111982.0,203465.0,158562.0,31065.0
2003-06-01,1436792.0,29037.0,114000.0,201684.0,159177.0,31438.0
2003-07-01,1444125.0,29473.0,115078.0,204127.0,160372.0,31407.0
2003-08-01,1430151.0,29347.0,115114.0,200104.0,159880.0,31459.0
2003-09-01,1447621.0,29329.0,116215.0,205664.0,160341.0,31709.0
2003-10-01,1453840.0,29947.0,115540.0,208446.0,160704.0,32047.0
2003-11-01,1455337.0,30196.0,114462.0,208569.0,161122.0,32003.0
2003-12-01,1461488.0,31276.0,116604.0,208764.0,161410.0,31778.0
2004-01-01,1464152.0,31172.0,119056.0,205755.0,161717.0,31729.0
2004-02-01,1463305.0,31133.0,117726.0,205892.0,161855.0,31744.0
2004-03-01,1476416.0,31615.0,116754.0,210131.0,163163.0,32358.0

## Question 3

How to view multiple months/years (not continuous years)?

I tried both df[''] and df.loc['']...but neither of them worked

### Learning from https://www.kdnuggets.com/2019/06/select-rows-columns-pandas.html

#### Selecting rows using .iloc and loc

Zhenzhewn: one of the error messages sas a lot about iloc/loc - location- " Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types" 

In other words, you need to specify the locatin of the years you are interested.

In [97]:
# To view selected years, say 2001 and 2008

#years=df[2004]
df.loc['2008-02-01',:]
df.loc['2008',:]

,allindustries,affh,mining,manufacturing,realestate,accomfood
REF_DATE,,,,,,
2008-01-01,1619678.0,30845.0,121234.0,196215.0,185173.0,33727.0
2008-02-01,1616737.0,31502.0,119650.0,196824.0,185079.0,33181.0
2008-03-01,1619632.0,32081.0,121653.0,193480.0,185306.0,33568.0
2008-04-01,1623011.0,32573.0,121278.0,196153.0,185628.0,33713.0
2008-05-01,1622950.0,32314.0,118910.0,197185.0,185912.0,33851.0
2008-06-01,1626157.0,32520.0,120976.0,195970.0,186326.0,33899.0
2008-07-01,1633235.0,33115.0,124335.0,196741.0,186639.0,33707.0
2008-08-01,1631956.0,33356.0,123382.0,193416.0,187222.0,34197.0
2008-09-01,1632320.0,33463.0,121099.0,193253.0,187955.0,34066.0
2008-10-01,1630551.0,33786.0,122198.0,190432.0,186622.0,33932.0
2008-11-01,1614127.0,33396.0,120040.0,187226.0,185802.0,34285.0
2008-12-01,1591987.0,32776.0,116005.0,178949.0,185892.0,33870.0

## Taks2-2 Calculate annual averages

### You can do 12-month average, because the variables in Table 36-10-0434-01 are already "Seasonally adjusted at annual rates, Chained (2012) dollars"

https://stackoverflow.com/questions/45205423/find-annual-average-of-pandas-dataframe-with-date-column

## Arun 2/2: 

Similarly for the last question, about the error you are getting while selecting the interested columns along with the date, just select the columns you are interested in. Since date is an index in your data frame it will automatically get selected with the columns mentioned.

In [98]:
# actually...REF.DATE has a "clumn name" - it's df.index!!!
df.index

DatetimeIndex(['1997-01-01', '1997-02-01', '1997-03-01', '1997-04-01',
               '1997-05-01', '1997-06-01', '1997-07-01', '1997-08-01',
               '1997-09-01', '1997-10-01',
               ...
               '2019-04-01', '2019-05-01', '2019-06-01', '2019-07-01',
               '2019-08-01', '2019-09-01', '2019-10-01', '2019-11-01',
               '2019-12-01', '2020-01-01'],
              dtype='datetime64[ns]', name='REF_DATE', length=277, freq=None)


## The section below is to find a way to present annual values

### 1) Within Python - to assign the annual values to a new dataframe 

   Got inspirations from https://stackoverflow.com/questions/47244294/python-grouping-by-date-and-finding-the-average-of-a-column-inside-a-dataframe
### 2) Create a excel file to share with stakeholders 
     Learning from https://datatofish.com/export-dataframe-to-csv/

In [99]:
# How to create a column for all the annual average values?

df_annual=df.groupby(df.index.year)['allindustries','affh','mining','accomfood','manufacturing','realestate'].mean()

df_annual
##... that's it? why on earth I would use"....transform.mean()"

,allindustries,affh,mining,accomfood,manufacturing,realestate
REF_DATE,,,,,,
1997,1172439.4166666667,24243.833333333332,103724.0,27788.0,170643.91666666666,128893.0
1998,1216522.9166666667,25436.0,102943.91666666667,29404.0,179256.83333333334,132707.91666666666
1999,1279455.1666666667,27575.083333333332,106256.08333333333,30318.083333333332,193567.91666666666,138567.33333333334
2000,1347438.1666666667,28119.083333333332,108450.0,31413.916666666668,211108.0,143785.0
2001,1369325.75,28162.083333333332,108194.91666666667,31761.916666666668,203411.91666666666,148988.91666666666
2002,1413965.6666666667,27222.916666666668,109268.0,32389.0,207146.33333333334,155756.91666666666
2003,1440834.25,29795.916666666668,114237.83333333333,31642.0,204488.08333333334,159429.16666666666
2004,1488326.0833333333,32461.0,118144.0,32569.833333333332,209457.33333333334,164168.75
2005,1535314.4166666667,32711.0,120655.08333333333,33000.833333333336,213662.91666666666,170935.0
2006,1578545.25,32356.916666666668,124367.0,33141.0,210215.75,175644.08333333334
2007,1609905.6666666667,30450.083333333332,123491.91666666667,33558.916666666664,203880.83333333334,181749.08333333334
2008,1621861.75,32643.916666666668,120896.66666666667,33833.0,192987.0,186129.66666666666
2009,1569644.0,30985.083333333332,108195.08333333333,34086.083333333336,166374.75,191268.83333333334
2010,1624730.25,31389.083333333332,118699.91666666667,33971.083333333336,174408.83333333334,197448.25
2011,1678328.9166666667,32672.0,126955.25,34701.083333333336,180459.83333333334,203638.83333333334
2012,1710432.4166666667,33097.083333333336,124526.0,35545.0,183090.0,210100.0
2013,1753921.9166666667,38752.833333333336,131038.0,36850.0,182490.33333333334,215931.0
2014,1804500.4166666667,36170.083333333336,141701.0,38971.0,187913.91666666666,222014.0
2015,1819352.0,37745.0,137783.0,39975.0,188979.0,228619.0
2016,1838742.0,39298.0,136007.0,41069.0,188962.0,234251.0
2017,1897640.0,39787.0,147352.0,42536.0,195927.0,240108.0
2018,1939593.0,40182.0,155016.0,43534.0,200856.0,244363.0
2019,1970028.0833333333,40328.25,147291.25,44589.5,200709.16666666666,250842.33333333334
2020,1986692.0,40140.0,145257.0,44789.0,200066.0,254704.0

In [100]:
# Now I want to create a csv for df_d, and then send to stakeholder :-P (if they don't use Python heeheehee... B-)

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(r"C:\Users\ye\Desktop\Zhenzhen\Python\AnnualGDPby2-digitNAICS.xlsx", engine='xlsxwriter')

# Write each dataframe to a different worksheet.

df_annual.to_excel(writer, index = True, header=True,float_format='%.2f', sheet_name='AnnualGDP')

## later, add unites, notes, etc.

 Note: if you encounter error message sying the path doesn't supportXXXXX code, try this https://stackoverflow.com/questions/37400974/unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3-trunca

In [101]:
# You can also calculate year-over-year percentage changes
pd.options.display.float_format = '{:.2%}'.format
dfp_annual=df_annual.pct_change() 
dfp_annual

dfp_annual.to_excel(writer, index = True, header=True, sheet_name='year-over-year')

In [102]:
# In order to compare with annual GDP,I would need to extract data from statscan...take a quick glance, the average seems about right
  ## However there's no vectors corresponding to annual average....??? https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=3610043403#timeframe

### Task 2-3: Calculate the weights of evey 2-digit NAICS over total industry GDP - I want to know which industry contribute the most to total GDP, and if that changes over the years  

'allindustries','affh','mining','accomfood','manufacturing','realestate'

In [103]:
df_annual['affh_per']=df_annual['affh']/df_annual['allindustries']
df_annual['mining_per']=df_annual['mining']/df_annual['allindustries']
df_annual['realestate_per']=df_annual['realestate']/df_annual['allindustries']
df_annual['manufacturing_per']=df_annual['manufacturing']/df_annual['allindustries']
df_annual['accomfood_per']=df_annual['accomfood']/df_annual['allindustries']

## I want to just save the weights (percentages), so I only selected those columns
Learning from
Example: https://stackoverflow.com/questions/22019763/pandas-writing-dataframe-columns-to-csv/22019831

#header = ["InviteTime (Oracle)", "Orig Number", "Orig IP Address", "Dest Number"]
#df.to_csv('output.csv', columns = header)

In [104]:
#I want to save the percentage columns to a csv.file too :) 
percentage=['mining_per','manufacturing_per','affh_per','realestate_per','accomfood_per']
#df_annual.to_excel(r"C:\Users\ye\Desktop\Zhenzhen\Python\AnnualGDPby2-digitNAICS.xlsx", index = True, header=True, columns=percentage, sheet_name='weights') 

## It worked!!!!! 
# Perfect your csv. files so that your clients would get all the notes/details of your deliverables B-)

## Task 3 Perfect your excel file

I want to save to excel file with THREE spread sheets 1) Annual average 2) Percentage to total GDP 3) annual percentage growth rate  ... of course, with different notes, sheet 2) and 3) just need to tell the objective of the sheets - only sheet1) need to tell the data source and data information

Learning from : https://xlsxwriter.readthedocs.io/example_pandas_multiple.html

## Question 4:

the percentage format in the csv file doesn't show as expected? I want the format to be like, say 23.30% but "float_format = "%.2f"" doesn't gave me the desired results
### task 3-1 Change data format shown at excel file

In [105]:
# I want the values in csv. in the format of pecentages, like 17%, but "float_format = "%.2f" doesn't work :()
df_annual.to_excel(writer, index = True, header=True, columns=percentage, float_format = "%.2f", sheet_name='weights')

### task 3-2 add data source and table information: 

Link: https://www150.statcan.gc.ca/n1/pub/13-607-x/2016001/230-eng.htm

Unit and Multiplier:Dollars, Millions
Table: 36-10-0434-01 (formerly CANSIM 379-0031)
Frequency: Monthly
Geography: Canada
Seasonally adjusted at annual rate; chained(2012) dollars 
Gross domestic product (GDP) at basic prices, by industry, monthly (x 1,000,000)


## Question 5:

But I only want the notes shown in one row only (now it's in every row)

In [106]:
df_annual['notes']='Data Source: https://www150.statcan.gc.ca/n1/pub/13-607-x/2016001/230-eng.htm;Canada; Unit and Multiplier:Dollars, Millions, Seasonally adjusted at annual rate; Annual average; chained(2012) dollars'

In [109]:
annualGDP=['allindustries','mining','manufacturing','affh','realestate','accomfood','notes']
df_annual.to_excel(writer, index = True, header=True, columns=annualGDP, sheet_name='annualGDPwithnote')
## Super important to write the follwing command!!! otherwise only the first spredsheet will be saved...
writer.save()

### Task 3-3 fix year index in annual averages - year 2020 only has January GDP, so I want to rename "2020" to "2020- Jan"

Learning from https://note.nkmk.me/en/python-pandas-dataframe-rename/

## Question 6:

How to change one index lable?

In [108]:
pd.options.display.float_format = '{:}'.format
df_annual.rename(index={'2020':'2020-Jan'}, inplace=True)
df_annual
## It didn't change...

,allindustries,affh,mining,accomfood,manufacturing,realestate,affh_per,mining_per,realestate_per,manufacturing_per,accomfood_per,notes
REF_DATE,,,,,,,,,,,,
1997,1172439.4166666667,24243.833333333332,103724.0,27788.0,170643.91666666666,128893.0,0.0206781117972478,0.088468537073664,0.10993574437001825,0.14554604207338928,0.023701011416865675,Data Source: https://www150.statcan.gc.ca/n1/p...
1998,1216522.9166666667,25436.0,102943.91666666667,29404.0,179256.83333333334,132707.91666666666,0.020908771755567008,0.08462143643683928,0.10908788880878048,0.1473517932769454,0.024170526997196583,Data Source: https://www150.statcan.gc.ca/n1/p...
1999,1279455.1666666667,27575.083333333332,106256.08333333333,30318.083333333332,193567.91666666666,138567.33333333334,0.021552207573770656,0.08304791453549694,0.10830182795254907,0.15128933135731862,0.023696088869077214,Data Source: https://www150.statcan.gc.ca/n1/p...
2000,1347438.1666666667,28119.083333333332,108450.0,31413.916666666668,211108.0,143785.0,0.0208685519149982,0.08048606806818222,0.10670990592147146,0.1566736086467295,0.023313809452480752,Data Source: https://www150.statcan.gc.ca/n1/p...
2001,1369325.75,28162.083333333332,108194.91666666667,31761.916666666668,203411.91666666666,148988.91666666666,0.020566387021739227,0.07901327837197736,0.10880458259597225,0.14854896044032376,0.023195296419910798,Data Source: https://www150.statcan.gc.ca/n1/p...
2002,1413965.6666666667,27222.916666666668,109268.0,32389.0,207146.33333333334,155756.91666666666,0.01925288379232216,0.07727768967516184,0.1101560811118233,0.14650025684263432,0.02290649678669708,Data Source: https://www150.statcan.gc.ca/n1/p...
2003,1440834.25,29795.916666666668,114237.83333333333,31642.0,204488.08333333334,159429.16666666666,0.020679628254718866,0.07928589519115979,0.1106505947277882,0.14192339148887761,0.021960888283992418,Data Source: https://www150.statcan.gc.ca/n1/p...
2004,1488326.0833333333,32461.0,118144.0,32569.833333333332,209457.33333333334,164168.75,0.021810408594935486,0.07938045386895222,0.11030428871630002,0.14073349629418688,0.0218835332512538,Data Source: https://www150.statcan.gc.ca/n1/p...
2005,1535314.4166666667,32711.0,120655.08333333333,33000.833333333336,213662.91666666666,170935.0,0.021305733630131028,0.07858656313231822,0.11133550114843468,0.13916557699663362,0.02149451146624527,Data Source: https://www150.statcan.gc.ca/n1/p...
2006,1578545.25,32356.916666666668,124367.0,33141.0,210215.75,175644.08333333334,0.020497934200281346,0.07878583144829077,0.1112695903607029,0.13317055687823964,0.020994646811676763,Data Source: https://www150.statcan.gc.ca/n1/p...
2007,1609905.6666666667,30450.083333333332,123491.91666666667,33558.916666666664,203880.83333333334,181749.08333333334,0.018914203461610688,0.07670754828906125,0.11289424411409613,0.12664147816528382,0.020845268987810257,Data Source: https://www150.statcan.gc.ca/n1/p...
2008,1621861.75,32643.916666666668,120896.66666666667,33833.0,192987.0,186129.66666666666,0.0201274348240019,0.07454190634107172,0.11476296710657777,0.1189910299074505,0.020860594313911157,Data Source: https://www150.statcan.gc.ca/n1/p...
2009,1569644.0,30985.083333333332,108195.08333333333,34086.083333333336,166374.75,191268.83333333334,0.01974019798969278,0.06892969573567849,0.1218549131735179,0.1059952129272625,0.0217158051974418,Data Source: https://www150.statcan.gc.ca/n1/p...
2010,1624730.25,31389.083333333332,118699.91666666667,33971.083333333336,174408.83333333334,197448.25,0.019319566022318678,0.0730582302303208,0.12152678883156143,0.10734633231167656,0.02090875290426416,Data Source: https://www150.statcan.gc.ca/n1/p...
2011,1678328.9166666667,32672.0,126955.25,34701.083333333336,180459.83333333334,203638.83333333334,0.019466982708544366,0.07564384355132613,0.1213342815648919,0.10752352029526195,0.020675972980465144,Data Source: https://www150.statcan.gc.ca/n1/p...
2012,1710432.4166666667,33097.083333333336,124526.0,35545.0,183090.0,210100.0,0.019350126325267943,0.07280381194053803,0.12283443528826944,0.10704310688685985,0.020781294632658435,Data Source: https://www150.statcan.gc.ca/n1/p...
2013,1753921.9166666667,38752.833333333336,131038.0,36850.0,182490.33333333334,215931.0,0.0220949592824424,0.0747114217313836,0.12311323437384113,0.10404701121481891,0.02101005731773597,Data Source: https://www150.statcan.gc.ca/n1/p...
2014,1804500.4166666667,36170.083333333336,141701.0,38971.0,187913.91666666666,222014.0,0.020044375162931755,0.07852644349163122,0.1230334988839247,0.1041362556256914,0.021596559158455906,Data Source: https://www150.statcan.gc.ca/n1/p...
2015,1819352.0,37745.0,137783.0,39975.0,188979.0,228619.0,0.02074639761849274,0.07573190894340402,0.12565957549721,0.10387159823937314,0.02197210875080798,Data Source: https://www150.statcan.gc.ca/n1/p...
2016,1838742.0,39298.0,136007.0,41069.0,188962.0,234251.0,0.021372220790083656,0.07396741902887953,0.12739742715399985,0.10276700048185118,0.02233537929736744,Data Source: https://www150.statcan.gc.ca/n1/p...
2017,1897640.0,39787.0,147352.0,42536.0,195927.0,240108.0,0.020966569001496595,0.0776501338504669,0.12652979490314284,0.10324771821841867,0.02241521047195464,Data Source: https://www150.statcan.gc.ca/n1/p...
2018,1939593.0,40182.0,155016.0,43534.0,200856.0,244363.0,0.020716717373180867,0.07992192176399894,0.1259867405172116,0.10355574597351094,0.022444914989897365,Data Source: https://www150.statcan.gc.ca/n1/p...
2019,1970028.0833333333,40328.25,147291.25,44589.5,200709.16666666666,250842.33333333334,0.020470901070488125,0.07476606615210266,0.12732931852875026,0.10188137334928855,0.022633941301259793,Data Source: https://www150.statcan.gc.ca/n1/p...
2020,1986692.0,40140.0,145257.0,44789.0,200066.0,254704.0,0.0202044403460627,0.07311500725829671,0.1282050765795604,0.10070307828289438,0.022544511177374247,Data Source: https://www150.statcan.gc.ca/n1/p...