## Learning Materials
https://stats-can.readthedocs.io/en/latest/

In [76]:
conda install -c ian.e.preston stats_can

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [77]:
import requests 
import pandas as pd
from stats_can import StatsCan

sc = StatsCan()

## Questions:
 what does the command above do?
sc = StatsCan()

In [78]:
sc = StatsCan(data_folder="C:/Users/ye/Desktop/Zhenzhen/Python")

## Canadian National Accounts- GDP
https://www150.statcan.gc.ca/n1/pub/13-607-x/2016001/230-eng.htm

The indicators/variables of interest in this exercise are from Table: 36-10-0434-01 (formerly CANSIM 379-0031)
Frequency: Monthly
Geography: Canada
Seasonally adjusted at annual rate; chained(2012) dollars

In [79]:
#The url below allows me to extract variables/indicators without knowing which StatCan's Tables those variables/indicators belong; however there's a 2-3 day delay in updating, compared with specific StatCan's Tables
url='https://www150.statcan.gc.ca/t1/wds/rest/getSeriesInfoFromVector'
r=requests.get(url, allow_redirects=True)

# In this exercise,I take the following variables as examples ALL industries GDP, AgricultureGDP, MiningGDP,ManufacturingGDP ,Real estateGDP, acoomodationGDP
#print(df.v65201210, df.v65201229, df.v65201236, df.v65201263, df.v65201419, df.v65201468)
df = sc.vectors_to_df(["v65201210", "v65201229","v65201236","v65201263", "v65201419","v65201468"])

In [80]:
# Rename vectors, so that you don't need to memorize them (You can refer the csv table "2 digit NAICS_Vectors_Monthly Seasonal Chained 2012_ Table 3610043401-eng (1)"
# Learn from Syntax: DataFrame.rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None)
 
df_n=df.rename(columns={"v65201210":"allindustries", "v65201229":"affh","v65201236":"mining","v65201263":"manufacturing", "v65201419":"realestate","v65201468":"accomfood"}, inplace=True)

## Questions: Why print(df_n) shows nothing?

In [81]:
print(df_n)
print(df)

None
            allindustries        affh       mining  manufacturing  \
REF_DATE
1997-01-01  114625400.00% 2415600.00%  9955800.00%   16547400.00%
1997-02-01  115349300.00% 2401400.00% 10112600.00%   16738900.00%
1997-03-01  115337500.00% 2402000.00% 10219600.00%   16577600.00%
1997-04-01  116119600.00% 2422300.00% 10383500.00%   16841900.00%
1997-05-01  116532800.00% 2423200.00% 10129400.00%   16998800.00%
...                   ...         ...          ...            ...
2019-09-01  197930400.00% 4038600.00% 14564300.00%   20063300.00%
2019-10-01  197712000.00% 4025700.00% 14635900.00%   19887300.00%
2019-11-01  197881000.00% 4010400.00% 14413400.00%   19890300.00%
2019-12-01  198382700.00% 4007200.00% 14611100.00%   19848000.00%
2020-01-01  198669200.00% 4014000.00% 14525700.00%   20006600.00%

             realestate   accomfood
REF_DATE
1997-01-01 12857500.00% 2736100.00%
1997-02-01 12835000.00% 2762700.00%
1997-03-01 12831200.00% 2769600.00%
1997-04-01 12816400.00% 2780200.00%
1997-05-01 12822300.00% 2787700.00%
...                 ...         ...
2019-09-01 25297400.00% 4482900.00%
2019-10-01 25345200.00% 4482700.00%
2019-11-01 25399400.00% 4500500.00%
2019-12-01 25444000.00% 4497700.00%
2020-01-01 25470400.00% 4478900.00%

[277 rows x 6 columns]

## Questions:  How come it does not update to Jan, 2020 - the tables are alredy updated in StatCan's Tables 

sc.update_tables()
#print(df)

## Answers : There's a delay, approximately 3 days

In [82]:
# If you don't want to wait, you may extract from THE Table; and in this exercise, all the variables/indicators are from Table: 36-10-0434-01 
#url='https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3610043401'
#r=requests.get(url, allow_redirects=True)
#df = sc.vectors_to_df(["v65201210", "v65201229","v65201236","v65201263", "v65201419","v65201468"])
#print(df)

## Task 2: Calculate rates 
a. Year over year 
b. Month over month 
c. Percentages -evey 2-digit NAICS over total industry GDP

In [83]:
#month over month
dfp=df.pct_change() 
dfp

            allindustries   affh  mining  manufacturing  realestate  accomfood
REF_DATE
1997-01-01           nan%   nan%    nan%           nan%        nan%       nan%
1997-02-01          0.63% -0.59%   1.57%          1.16%      -0.17%      0.97%
1997-03-01         -0.01%  0.02%   1.06%         -0.96%      -0.03%      0.25%
1997-04-01          0.68%  0.85%   1.60%          1.59%      -0.12%      0.38%
1997-05-01          0.36%  0.04%  -2.45%          0.93%       0.05%      0.27%
...                   ...    ...     ...            ...         ...        ...
2019-09-01          0.02% -0.62%  -0.58%         -0.38%       0.26%      0.18%
2019-10-01         -0.11% -0.32%   0.49%         -0.88%       0.19%     -0.00%
2019-11-01          0.09% -0.38%  -1.52%          0.02%       0.21%      0.40%
2019-12-01          0.25% -0.08%   1.37%         -0.21%       0.18%     -0.06%
2020-01-01          0.14%  0.17%  -0.58%          0.80%       0.10%     -0.42%

[277 rows x 6 columns]

### Task 2-1. Display "Percentages - % " : pd.options.display.float_format = '{:.2%}'.format (done)

In [84]:
pd.options.display.float_format = '{:.2%}'.format
dfp

            allindustries   affh  mining  manufacturing  realestate  accomfood
REF_DATE
1997-01-01           nan%   nan%    nan%           nan%        nan%       nan%
1997-02-01          0.63% -0.59%   1.57%          1.16%      -0.17%      0.97%
1997-03-01         -0.01%  0.02%   1.06%         -0.96%      -0.03%      0.25%
1997-04-01          0.68%  0.85%   1.60%          1.59%      -0.12%      0.38%
1997-05-01          0.36%  0.04%  -2.45%          0.93%       0.05%      0.27%
...                   ...    ...     ...            ...         ...        ...
2019-09-01          0.02% -0.62%  -0.58%         -0.38%       0.26%      0.18%
2019-10-01         -0.11% -0.32%   0.49%         -0.88%       0.19%     -0.00%
2019-11-01          0.09% -0.38%  -1.52%          0.02%       0.21%      0.40%
2019-12-01          0.25% -0.08%   1.37%         -0.21%       0.18%     -0.06%
2020-01-01          0.14%  0.17%  -0.58%          0.80%       0.10%     -0.42%

[277 rows x 6 columns]

## Questions: However, it also changed the format of GDP value above, which should maintain the value format.

## Tomorrow's Tasks (Task 2- series)
2. Calculate annual average based on monthly data; and then compare with annual data table
3. Year over year 
4. Calculate" Percentages -evey 2-digit NAICS over total industry GDP" - using monthly data first
5. #I just want to check certain months/years 
   dfp["2018"] 
   
   however it can only show one year at a time...

## Taks2-2 

### You can do 12-month average, because the variables in Table 36-10-0434-01 are already "Seasonally adjusted at annual rates, Chained (2012) dollars"

https://stackoverflow.com/questions/45205423/find-annual-average-of-pandas-dataframe-with-date-column

      As I need to tell Python to calculate annual averages base on monthly data - I should give "REF DATE" colum a name FIRST?

In [85]:
#df.columns = ["date","a","b","c","d","e","f"]
### kk confirmed, the "REF DATE" is not a variable/column --> error message"Length mismatch: Expected axis has 1 elements, new values have 7 elements"

## Questions: How to extract or create dates that associate/match variables of interest? 

## Answers: Arun suggested the REF DATE is actually a row index; you would need to convert it into  a column, and then make it "date" format...

In [86]:
df['date']=df.index.values

In [87]:
df['date'][0]

Timestamp('1997-01-01 00:00:00')

In [88]:
print(df['date'])
# the index "REF_DATE" is still there

# How can you make the "date" column as index?

REF_DATE
1997-01-01   1997-01-01
1997-02-01   1997-02-01
1997-03-01   1997-03-01
1997-04-01   1997-04-01
1997-05-01   1997-05-01
                ...
2019-09-01   2019-09-01
2019-10-01   2019-10-01
2019-11-01   2019-11-01
2019-12-01   2019-12-01
2020-01-01   2020-01-01
Name: date, Length: 277, dtype: datetime64[ns]

Learning from https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

In [89]:
df["date"]=pd.to_datetime(df["date"],format='%M/%Y')
print(df['date'])

## ???? the format doesn't work :(

REF_DATE
1997-01-01   1997-01-01
1997-02-01   1997-02-01
1997-03-01   1997-03-01
1997-04-01   1997-04-01
1997-05-01   1997-05-01
                ...
2019-09-01   2019-09-01
2019-10-01   2019-10-01
2019-11-01   2019-11-01
2019-12-01   2019-12-01
2020-01-01   2020-01-01
Name: date, Length: 277, dtype: datetime64[ns]

In [90]:
## ????? Why the type is different? 
print(type(df['date']))
print(type('date'))
print(df['date'])

<class 'pandas.core.series.Series'>
<class 'str'>
REF_DATE
1997-01-01   1997-01-01
1997-02-01   1997-02-01
1997-03-01   1997-03-01
1997-04-01   1997-04-01
1997-05-01   1997-05-01
                ...
2019-09-01   2019-09-01
2019-10-01   2019-10-01
2019-11-01   2019-11-01
2019-12-01   2019-12-01
2020-01-01   2020-01-01
Name: date, Length: 277, dtype: datetime64[ns]

In [99]:
## KK, just a quick fix, will come back
pd.options.display.float_format = '{:}'.format

 Learning from  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html

In [100]:
df=df.set_index('date')
print(df)

KeyError: "None of ['date'] are in the columns"

In [101]:
df_a=df.groupby('date')['allindustries','affh'].transform('mean')

In [102]:
df_a
##.... doesn't work :(

            allindustries    affh
date
1997-01-01      1146254.0 24156.0
1997-02-01      1153493.0 24014.0
1997-03-01      1153375.0 24020.0
1997-04-01      1161196.0 24223.0
1997-05-01      1165328.0 24232.0
...                   ...     ...
2019-09-01      1979304.0 40386.0
2019-10-01      1977120.0 40257.0
2019-11-01      1978810.0 40104.0
2019-12-01      1983827.0 40072.0
2020-01-01      1986692.0 40140.0

[277 rows x 2 columns]