## Learning Materials
https://stats-can.readthedocs.io/en/latest/

In [1]:
conda install -c ian.e.preston stats_can

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests 
import pandas as pd
from stats_can import StatsCan
#what does the command below do?
sc = StatsCan()

In [3]:
sc = StatsCan(data_folder="C:/Users/ye/Desktop/Zhenzhen/Python")

## Canadian National Accounts- GDP
https://www150.statcan.gc.ca/n1/pub/13-607-x/2016001/230-eng.htm

Frequency: Monthly

Table: 36-10-0434-01 (formerly CANSIM 379-0031)

Geography: Canada

In [4]:
url='https://www150.statcan.gc.ca/t1/wds/rest/getSeriesInfoFromVector'
r=requests.get(url, allow_redirects=True)
df = sc.vectors_to_df(["v65201210", "v65201229","v65201236","v65201263", "v65201419","v65201468"])

In [5]:
#Yup, I'm only interested in ALL, Agriculture, Mining,Manufacturing ,Real estate, acoomodation
#print(df.v65201210, df.v65201229, df.v65201236, df.v65201263, df.v65201419, df.v65201468)

## Today's task 
1) Rename vectors so that you don't need to check them (You can refer the csv table "2 digit NAICS_Vectors_Monthly Seasonal Chained 2012_ Table 3610043401-eng (1)" 

2) Calculate rates 
     a. Year over year
     b. Month over month 
     c. Percentages  -evey 2-digit NAICS over total industry GDP

In [6]:
# Syntax: DataFrame.rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None)

df_n=df.rename(columns={"v65201210":"allindustries", "v65201229":"affh","v65201236":"mining","v65201263":"manufacturing", "v65201419":"realestate","v65201468":"accomfood"}, inplace=True)

In [7]:
print(df_n)

None

## Questions: Why it doesn't display the reassigned file?

In [8]:
print(df)

            allindustries     affh    mining  manufacturing  realestate  \
REF_DATE
1997-01-01      1146254.0  24156.0   99558.0       165474.0    128575.0
1997-02-01      1153493.0  24014.0  101126.0       167389.0    128350.0
1997-03-01      1153375.0  24020.0  102196.0       165776.0    128312.0
1997-04-01      1161196.0  24223.0  103835.0       168419.0    128164.0
1997-05-01      1165328.0  24232.0  101294.0       169988.0    128223.0
...                   ...      ...       ...            ...         ...
2019-08-01      1978704.0  40687.0  146252.0       201539.0    252316.0
2019-09-01      1979240.0  40405.0  145859.0       200747.0    252986.0
2019-10-01      1977484.0  40248.0  146343.0       198886.0    253420.0
2019-11-01      1978522.0  40076.0  144032.0       198527.0    253902.0
2019-12-01      1985301.0  40058.0  145909.0       199234.0    254294.0

            accomfood
REF_DATE
1997-01-01    27361.0
1997-02-01    27627.0
1997-03-01    27696.0
1997-04-01    27802.0
1997-05-01    27877.0
...               ...
2019-08-01    44878.0
2019-09-01    44930.0
2019-10-01    44959.0
2019-11-01    45202.0
2019-12-01    45160.0

[276 rows x 6 columns]

## Task 2: Calculate rates 
a. Year over year 
b. Month over month 
c. Percentages -evey 2-digit NAICS over total industry GDP

In [9]:
#month over month
df.pct_change()

,allindustries,affh,mining,manufacturing,realestate,accomfood
REF_DATE,,,,,,
1997-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1997-02-01,0.006315,-0.005878,0.015750,0.011573,-0.001750,0.009722
1997-03-01,-0.000102,0.000250,0.010581,-0.009636,-0.000296,0.002498
1997-04-01,0.006781,0.008451,0.016038,0.015943,-0.001153,0.003827
1997-05-01,0.003558,0.000372,-0.024472,0.009316,0.000460,0.002698
...,...,...,...,...,...,...
2019-08-01,0.001454,-0.001987,-0.000171,0.008199,0.003029,0.004139
2019-09-01,0.000271,-0.006931,-0.002687,-0.003930,0.002655,0.001159
2019-10-01,-0.000887,-0.003886,0.003318,-0.009270,0.001716,0.000645
2019-11-01,0.000525,-0.004274,-0.015792,-0.001805,0.001902,0.005405
2019-12-01,0.003426,-0.000449,0.013032,0.003561,0.001544,-0.000929

## Task for tomorrow: 

1. Display "Percentages - % "
2. Calculate annual average based on monthly data; and then compare with annual data table
3. Year over year 
4. Calculate" Percentages -evey 2-digit NAICS over total industry GDP" - using monthly data first